# Ignore React dependencies
frontend/node_modules/
frontend/dist/

# Ignore Python dependencies
backend/controllers/__pycache__/
backend/controllers/mapBoxToken.py
backend/controllers/mapbox_token.py
backend/venv/
__pycache__/
.env
.venv/
